.page {
	background-color: rgb(255, 255, 255);
	padding: 0 150px;
	height: 900px;
	color: white;
}

/*Wine page*/
.wines-page {
	height: auto;
	padding: 25px 150px;
	width: 100%;
	max-width: 100vw;
}
.wines-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 25px;
}
.wines-filter {
	width: 250px;
	background-color: green;
	height: 100%;
	border-right: 1px solid red;
}
.news-pic {
	width: 85%;
}