.footer {
	width: 100%;
	max-width: 2400px;
	height: 500px;
	background-color: #202020;
	color: #FFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	position: relative; 
	left: 0;
	bottom: 0;
}
.footer-newsletter {
	border: 1px solid red; 
	width: 100%;
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.footer-content {
	border: 1px solid blue;
	width: 100%;
	height: 60%;
}
.footer-bottom {
	border: 1px solid green;
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}